@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');


* {
    padding: 0;
    margin:0;
}

.imagenDePerfil {
    display: flex;
    box-sizing: border-box;
}

body{
    height: 100vh;
    box-sizing: border-box;
    background-color: white;
    color: rgb(5, 19, 110);
    background-image: linear-gradient(rgba(3, 3, 82, 0.5), rgba(7, 7, 101, 0.5)),url(img/background.jpg); 
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat; 
}


.titulo-destaque {
    color: rgb(43, 4, 88);
    font-size: 120%;
    font-family: "Red Hat Display", serif;
    padding: 5%;

}   

.presentacion {
    margin: 10% 23%;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: rgb(244, 238, 238);

}

.presentacion img {
    width: 50%; 
    height: auto;
}


.presentacion__contenido{
    width: 50%;
    display: flex;
    flex-direction: column;

}

.presentacion__contenido__titulo{
    font-size: 250%;
    font-family: "Red Hat Display", serif;
    padding: 5%;


}

.presentacion__contenido__texto{
    font-size: 95%;
    font-family: "Red Hat Display", serif;
    padding: 5%;


}

.presentacion__enlaces{
    margin: 0% 23%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: rgb(28, 2, 82);
    padding: 0.5%;
}

.presentacion__enlaces__link{
    width: 20%;
    padding: 3% 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

.sobre__enlaces{
    background-color: rgb(244, 238, 238);
    padding-bottom: 15%;
}

.boton {
    width: 15%; 
    height: 15%;
}

@media screen and (max-width: 768px) {
    .presentacion {
        flex-direction: column; /* Cambia a diseño vertical en pantallas pequeñas */
        text-align: center;
    }

    .presentacion img {
        width: 80%;
        max-width: 250px;
    }

    .presentacion__contenido {
        width: 90%;
    }

    .presentacion__enlaces {
        flex-wrap: wrap; /* Hace que los botones se acomoden en varias filas */
        padding: 10px;
    }
}
